<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color:#e3f2fd;margin-bottom:1em;">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item <% if(page == "program"){ %> active <% } %>">
        <a class="nav-link" href="/admin/program">Program</a>
      </li>
      <li class="nav-item <% if(page == "school"){ %> active <% } %>">
        <a class="nav-link" href="/admin/school">School</a>
      </li>
      <li class="nav-item <% if(page == "flag"){ %> active <% } %>">
        <a class="nav-link" href="/admin/flag">Flag</a>
      </li>
    </ul>
</nav>