<!DOCTYPE html>
<html>
<head>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Course Ninja</title>
	<script src="/scripts/jquery-3.3.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Karla|Rubik" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<header>
	<a class="logo" href="/"><img src="/images/logo.png" /></a>
	<% if(!user){%>
	<form class="login" action="/login" method="POST" autocomplete="off">
		<input type="text" name="username" value="testUser" />
		<input type="password" name="password" value="123" />
		<input type="submit" value="login" />
	</form>
	<a href="/register"><button>Create an Account</button></a>
	<% } else { %>
	<span><a href="/user/<%= user %>">Welcome <%= user %></a></span>
	<form action="/logout" method="POST">
		<a><input type="submit" value="logout" /></a>
	</form>
	<% } %>
</header>
<% if(typeof message !== "undefined"){
	if(message){ %>
	<div><%= message %></div>
<% }
} %>
