<!DOCTYPE html>
<html>
<head>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Course Ninja</title>
	<script src="/scripts/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<% if(!user){%>
<form action="/login" method="POST">
	<input type="text" name="username" value="testUser" />
	<input type="text" name="password" value="123" />
	<input type="submit" value="login" />
</form>
<a href="/register">Create an Account</a>
<% } else { %>
<span>Welcome <%= user %></span>
<form action="/logout" method="POST">
	<input type="submit" value="logout" />
</form>
<% } %>
<% if(typeof message !== "undefined"){
	if(message){ %>
	<div><%= message %></div>
<% }
} %>
