<% include ./partials/header %>

<h1>Find Your School</h1>
<form>
	<input type="text" name="school" placeholder="Your School Name" />
	<br />
	<input type="submit" value="Submit" />
</form>

<% include ./partials/footer %>