<% include ./partials/header %>

<div class="index">
<div id="indexMessageBox"></div>
	<div class="indexWrapper">
		<form action="/reviews" method="GET" autocomplete="off">
			<div id="schoolForm" class="form schoolForm">
				<h1>Find Your School</h1>
				<input id="schoolInput" type="text" name="school" placeholder="Your School Name" />
				<br />
				<input type="button" id="next" value="Next" />
			</div>
			<div id="programForm" class="form programForm">
				<h1>Find Your Program</h1>
				<input id="programInput" type="text" name="program" placeholder="program name" />
				<br />
				<input id="submit" type="submit" value="Submit" />
			</div>
		</form>
	</div>
</div>

<script src="/scripts/autocomplete.js"></script>
<script src="/scripts/autocompleteAJAX.js"></script>




<% include ./partials/footer %>