<% include ./partials/header %>

<select name="country"></select>
<!-- use ajax to generate further selects -->
<select name="region"></select>
<select name="city"></select>

<input type="text" name="School Keyword">
<input type="text" name="Program Keyword">

<button>Search for Schools</button>
<button>Search for Programs</button>

school partial
program partial 

<% include ./partials/footer %>