/* styles for index page slide effect */
.indexWrapper {
	width: 800px;
	height: 80vh;
	text-align: center;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
}
.indexWrapper .form {
	position: absolute;
	top: 0;
	width: 100%;
	transition: 0.7s ease;
}
.indexWrapper .schoolForm {
	left: 0;
}
.indexWrapper .programForm {
	right: -800px;
	transition-delay: 0.5s;
}

/* styles for autocomplete effect */
.autocomplete {
	position: relative;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: #262626;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #a6cdb1; 
}
.autocomplete-active {
  background-color: #689775 !important; 
  color: #ffffff; 
}
/* GENERAL STYLES */
body {
	font-family: 'Karla', sans-serif;
}
h1, h2, h3, h4 {
	font-weight: normal;
	font-family: 'Rubik', sans-serif;
}
input[type=button], input[type=submit], button {
	cursor: pointer;
}

/* reviews page */
textarea {
	resize: none;
}
/* star review rating stuff */
#revScroll{
	max-width: 650px;
	overflow-y: hidden;
}
a i[class="fa fa-flag"]{
	opacity: 1.7;
	padding-top: 35px;
	padding-left: 90px;
	color: #ffb3b3;
}
#submitReview {
	margin-top: 5px;
}
#stats {
	line-height: 1.5;
	padding: 20px;
	width: 400px;
	font-size: 25px;
	margin: 0 auto;
	text-align: left;
}
h5 span {
	font-size: 20px;
}
/* stars or something? is this working? */
.rating {
  --uiRatingSize: var(--ratingSize, 20px);
  --uiRatingColor: var(--ratingColor, #eee);
  --uiRatingColorActive: var(--ratingColorActive, #ffcc00);
  --uiRatingStroke: var(--ratingStroke, #222);
  --uiRatingStrokeWidth: var(--ratingStrokeWidth, 1px);
  display: flex;
  font-size: var(--uiRatingSize);
  color: var(--uiRatingColor);
  position: relative;
}
.rating__control {
	position: absolute;
	left: -9999px;
}
.rating__item {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  position: relative;
}
.rating__item {
	padding-left: .25em;
  padding-right: .25em;
}
.rating__star {
	display: block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	stroke: var(--uiRatingStroke);
	stroke-width: var(--uiRatingStrokeWidth);
}
.rating__label {
	position: absolute;
	top: 0;
	left: -9999px;
}
.rating:hover,
.rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2),
.rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3),
.rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4),
.rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5){
	color: var(--uiRatingColorActive);
}
.rating__item:hover ~ .rating__item {
  color: var(--uiRatingColor);
}
.rating {
  margin-left: 105px;
  margin-top: 10px;
  --ratingSize: 30px;
  --ratingColor: #eee;
  --ratingColorActive: #ffcc10;
}










